<%
  meta title: "Beyond",
  description: ""
%>

<%= content_for :hero do %>
  <div class="container-xl">
    <div class="row gy-lg-0">
      <div class="col-md-18 col-lg-16 col-xl-13 col-xxl-12">
        <div class="bg-secondary header-hero">
          <h1 class="mb-2 mb-md-3">Healthier, stronger and happier</h1>
          <p class="lead-xl mb-3 mb-md-4">Establish a healthier balance and reach your goals through our Beyond program, leading to a more active and healthier you.</p>
          <%= render partial: "hero_membership_numbers" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= content_for :entry_section do %>
  <%= render partial: "usp_summary",
    locals: {
      title: "Covering all areas of motherhood",
      support_text: "Designed for women who are past the stages of pregnancy and postpartum, the Beyond program is an overall journey for an active and healthy lifestyle.",
      mind_text: "#{Rails.configuration.name} is here to care for your mental wellbeing while guarding you through your journey as a mother.",
      body_text: "Live workouts and streams, pre-recorded classes and programs, goal setting, yoga, workouts and more.",
      soul_text: "Improve your mood, sleep and energy levels for an all-around better quality of life, becoming healthier and happier.",
      video_guide_pregnancy: false,
      video_guide_postpartum: false,
      video_guide_beyond: false
    }
  %>
<% end %>
<section class="container-xl image-wrapper-start py-6 py-lg-7 py-xl-8">
  <div class="row align-items-center gy-4 gy-md-5 gx-lg-6 gy-lg-0 gx-xl-7 gx-xxl-8">
    <div class="col-lg-10 col-xl-11 col-xxl-12">
      <%= image_tag "beyond/mother-watching-workout.jpg", class: "image-wrapper-start-image img-fluid d-lg-none" %>
      <%= image_tag "beyond/mother-watching-workout-lg.jpg", class: "image-wrapper-start-image img-fluid d-none d-lg-block d-xl-none" %>
      <%= image_tag "beyond/mother-watching-workout-xl.jpg", class: "image-wrapper-start-image img-fluid d-none d-xl-block" %>
    </div>
    <div class="col-lg">
      <h2>Make health and wellness part of your daily life</h2>
      <p class="lead-xl">With a personalised dashboard bespoke to you, you’ll be able to access everything you need to stay on top of your fitness, nutrition and health.</p>
      <p class="lead-xl mb-0">Features include personalised calorie intake, goal setting, rewards, weight loss tracker, journaling, buddy up and much more.</p>
    </div>
  </div>
</section>
<section class="container-xl image-wrapper-end py-6 py-lg-7 py-xl-8">
  <div class="row align-items-center gy-4 gy-md-5 gx-lg-6 gy-lg-0 gx-xl-7 gx-xxl-8">
    <div class="col-lg-10 col-xl-11 col-xxl-12">
      <%= image_tag "beyond/mother-smiling-with-child.jpg", class: "image-wrapper-end-image img-fluid d-lg-none" %>
      <%= image_tag "beyond/mother-smiling-with-child-lg.jpg", class: "image-wrapper-end-image img-fluid d-none d-lg-block d-xl-none" %>
      <%= image_tag "beyond/mother-smiling-with-child-xl.jpg", class: "image-wrapper-end-image img-fluid d-none d-xl-block" %>
    </div>
    <div class="order-lg-first col-lg">
      <h2>Become healthier and happier</h2>
      <p class="lead-xl">You’ll also have access to our <%= Rails.configuration.name %> community where mums at every stage of their parenting journey come together to motivate and champion each other.</p>
      <p class="lead-xl mb-4">Create new friends, workout buddies and discover like-minded women to keep you accountable and on track.</p>
      <% if user_signed_in? %>
        <%= link_to "Go to dashboard", dashboard_root_path, class: "btn btn-secondary btn-lg" %>
      <% else %>
        <%= link_to "Try free for #{I18n.t('free_trial.try_for_days')} days", new_user_registration_path, class: "btn btn-secondary btn-lg" %>
      <% end %>
    </div>
  </div>
</section>
<section class="container-xl image-wrapper-start py-6 py-lg-7 py-xl-8">
  <div class="row align-items-center gy-4 gy-md-5 gx-lg-6 gy-lg-0 gx-xl-7 gx-xxl-8">
    <div class="col-lg-10 col-xl-11 col-xxl-12">
      <div class="image-centered-shadow">
        <%= image_tag "beyond/dashboard.png", class: "image-wrapper-start-image img-fluid d-lg-none" %>
        <%= image_tag "beyond/dashboard-lg.png", class: "image-wrapper-start-image img-fluid d-none d-lg-block d-xl-none" %>
        <%= image_tag "beyond/dashboard-xl-cropped.png", class: "image-wrapper-start-image image-wrapper-image-dashboard-cropped img-fluid" %>
        <%= image_tag "beyond/dashboard-xl-uncropped.png", class: "image-wrapper-start-image image-wrapper-image-dashboard-uncropped img-fluid" %>
      </div>
    </div>
    <div class="col-lg">
      <h2>A personalised approach</h2>
      <p class="lead-xl">Experience a dashboard specific to your goals with week by week workouts.</p>
      <p class="lead-xl mb-4">Journal appointments and progress pictures and you progress through your fitness journey.</p>
      <% if user_signed_in? %>
        <%= link_to "Go to dashboard", dashboard_root_path, class: "btn btn-secondary btn-lg" %>
      <% else %>
        <%= link_to "Try free for #{I18n.t('free_trial.try_for_days')} days", new_user_registration_path, class: "btn btn-secondary btn-lg" %>
      <% end %>
    </div>
  </div>
</section>
<div class="container-xl pb-6 pb-lg-7 pb-xl-8">
  <%= render partial: "publications", locals: {heading_color: "muted"} %>
</div>
<%= render partial: "classes_slider", locals: {heading: "Empowering classes and workouts"} %>
<%= render partial: "usp_list" %>
<%= render partial: "motherhood_community" %>
<%= render partial: "blog_section" %>
<%= render partial: "cta_section" %>
