<% meta title: "Mind Dashboard" %>
<% @page_title = "Mind" %>
<%= render 'search_form' %>
<div class="row gy-4 gx-xxl-4">
  <div class="col-xxl-16">
    <section class="bg-white shadow rounded-2 p-4 mb-4">
      <h2 class="h5 mb-3 mb-md-4">Experts</h2>
      <div class="row row-cols-1 row-cols-lg-3 gy-4 gx-lg-4">
        <%= render @expert_categories %>
      </div>
    </section>
    <%= render 'dashboard/book_a_call_and_review' %>
    <section class="bg-white shadow rounded-2 p-4">
      <h2 class="h5 mb-3 mb-md-4">Resources</h2>
      <div class="row row-cols-1 row-cols-lg-3 gy-4 gx-lg-4">
        <%= render @primary_lessons %>
      </div>
    </section>
  </div>
  <div class="col-xxl-8">
    <div class="row gy-4 gx-xl-4 gx-xxl-0">
      <div class="col-xl-12 col-xxl-24">
        <%= render 'dashboard/book_a_call_and_review_top' %>
        <section class="bg-white shadow rounded-2 p-4">
          <div class="d-flex justify-content-between mb-3 mb-md-4">
            <h2 class="h5 mb-0">Read of the day</h2>
            <%= link_to "View all#{icon "fas", "angle-right", class: "ms-2"}".html_safe, dashboard_posts_path, class: "btn btn-link btn-sm shadow-none border-0 p-0 d-flex align-items-center" %>
          </div>
          <div class="row row-cols-1">
            <%= render @read_of_the_day %>
          </div>
        </section>
      </div>
      <div class="col-xl-12 col-xxl-24">
        <section class="bg-white shadow rounded-2 p-4 h-100">
          <div class="d-flex justify-content-between">
            <h2 class="h5 mb-0">Recent activity</h2>
            <%= link_to "View all#{icon "fas", "angle-right", class: "ms-2"}".html_safe, dashboard_activities_path, class: "btn btn-link btn-sm shadow-none border-0 p-0 d-flex align-items-center" %>
          </div>
          <% if @activities.exists? %>
            <%= render @activities, preview: true %>
          <% else %>
            <p class="small mt-3 mb-0">You have no <i>Mind</i> activities logged. You can add one <%= link_to "here.", new_dashboard_activity_path %></p>
          <% end %>
        </section>
      </div>
    </div>
  </div>
</div>
