<% meta title: "Support" %>
<% @page_title = "Support" %>

<div class="row gy-4 gx-xxl-4">
  <div class="col-xxl-16">
    <% if current_user.pregnancy? %>
      <div class="accordion" id="pregnantAccordion">
        <div class="accordion-item">
          <h3 class="accordion-header" id="headingPregnantOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePregnantOne" aria-expanded="false" aria-controls="collapsePregnantOne">What is Mother Fit?</button>
          </h3>
          <div id="collapsePregnantOne" class="accordion-collapse collapse" aria-labelledby="headingPregnantOne" data-bs-parent="#pregnantAccordion">
            <div class="accordion-body">
              <p class="mb-0">Welcome to Mother Fit. We’re here to support you on your mental and physical journey throughout every stage of your pregnancy, postpartum and beyond. We offer a 360, holistic approach to motherhood. Looking after your mind, body and soul, we place an emphasis on all-round wellbeing, with the end result being a happier, healthier and more active you.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="headingPregnantTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePregnantTwo" aria-expanded="false" aria-controls="collapsePregnantTwo">Are the workouts Pregnancy safe?</button>
          </h3>
          <div id="collapsePregnantTwo" class="accordion-collapse collapse" aria-labelledby="headingPregnantTwo" data-bs-parent="#pregnantAccordion">
            <div class="accordion-body">
              <p class="mb-0">YES.  We know that staying active is important and so beneficial to lots of mums-to-be during pregnancy, but many are confused as to how do this safely. You and your baby’s health is of utmost importance to us, which is why we place a focus on your overall wellbeing. Taking you through each trimester stage, I use my years of working as a pre and postnatal trainer to stand by you on your motherhood journey, as I have with thousands of women. All of our trainers and experts are qualified to teach/advise on your pregnancy needs.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="headingPregnantThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePregnantThree" aria-expanded="false" aria-controls="collapsePregnantThree">How does my Dashboard work?</button>
          </h3>
          <div id="collapsePregnantThree" class="accordion-collapse collapse" aria-labelledby="headingPregnantThree" data-bs-parent="#pregnantAccordion">
            <div class="accordion-body">
              <p class="mb-0">When you sign up you will be taken through a few questions which will help populate your personlised pregnancy dashboard. Your dashboard will guide you through weekly foetal development, exercises classes specific to the week of pregnancy and you'll be supported by experts and resources. To do more workouts go to BODY or for more interactive classes visit the calendar for LIVE classes. You can also journal, track activity, and get great ideas to nourish you through your pregnancy.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="headingPregnantFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePregnantFour" aria-expanded="false" aria-controls="collapsePregnantFour">What advice can I get?</button>
          </h3>
          <div id="collapsePregnantFour" class="accordion-collapse collapse" aria-labelledby="headingPregnantFour" data-bs-parent="#pregnantAccordion">
            <div class="accordion-body">
              <p class="mb-0">Mother Fit will be everything you ever need in pregnancy. You will be able to follow my workout videos and advice, trimester by trimester, which includes an introduction to each trimester, full body, upper and lower body workouts, nutritional advice on how to stay nourished during the 9 months, you can follow pregnancy yoga by trimester with Abbey, enjoy our brand new Pregnancy Pilates with Jemma from weeks 13-38, plus our team of 20 Experts will guide you through all the pregnancy essentials; think breathing for birth, stages of labour, birthing partner tips, pelvic health in pregnancy, meditation and breathwork. Likewise, we also offer a wealth of information and resources about what to expect once your baby arrives, such as children's first aid, CPR, allergies, and temperatures, as well as perinatal care including how to calm your new baby and sleep advice.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="headingPregnantFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePregnantFive" aria-expanded="false" aria-controls="collapsePregnantFive">What antenatal care do I get?</button>
          </h3>
          <div id="collapsePregnantFive" class="accordion-collapse collapse" aria-labelledby="headingPregnantFive" data-bs-parent="#pregnantAccordion">
            <div class="accordion-body">
              <p>All your antenatal needs will be looked after within the 3rd Trimester. Led by experts in their field providing everything you need to know about pregnancy, birth, and those early days when baby arrives.</p>
              <p class="mb-0">Follow our hypnobirthing program brought to you by The Wise Hippo, which helps you deal with any fear or anxiety you may have around birth. It involves various relaxation and self-hypnosis techniques to help you relax the body before, during and after labour.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="headingPregnantSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePregnantSix" aria-expanded="false" aria-controls="collapsePregnantSix">What happens once I've given birth?</button>
          </h3>
          <div id="collapsePregnantSix" class="accordion-collapse collapse" aria-labelledby="headingPregnantSix" data-bs-parent="#pregnantAccordion">
            <div class="accordion-body">
              <p>Within dashboard settings you'll be able to tell us when you had your baby, alternatively it will automatically transition to a postpartum dashboard after 40 weeks of pregnancy. Within the first 12 weeks after childbirth (The 4th Trimester) take your time to enjoy your baby and recover. At this point please continue to learn from our Experts and you can commence my 'Rebuild your Core' program if you feel ready or after the 4th Trimester. Your health is the priority, so please do not start my 9 week postpartum program until after your 6-8 week medical check, while c-section mums are advised to wait for longer before returning to exercise. In the early stages enjoy walking with your little one. Disclaimer : Before commencing any new fitness, health, or nutrition program, please consult with your doctor to discuss your individual needs. I'm here to provide general advice within my scope of practice, but you should seek professional help if it is needed.</p>
              <p>If you're diabetic, have an injury or medical condition, pregnant/postpartum, or a physical disability, please consult your doctor or professional healthcare provider before starting.</p>
              <p>Always consult your healthcare professional before beginning any new exercise program, as there are some situations where exercise may not be advised.</p>
              <p class="mb-0">This information should be used as a guide only and should not replace the advice of your medical practitioner.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="headingPregnantSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePregnantSeven" aria-expanded="false" aria-controls="collapsePregnantSeven">What equipment do I need for the workouts?</button>
          </h3>
          <div id="collapsePregnantSeven" class="accordion-collapse collapse" aria-labelledby="headingPregnantSeven" data-bs-parent="#pregnantAccordion">
            <div class="accordion-body">
              <p>My workouts can be completed with little or no equipment. I advise as a basic start, you would benefit from an exercise mat and a set of dumbbells suited to your weight preference. If you are pregnant and have always exercised with weights then you can carry on using the same level of weights, but please be mindful to not overtrain. The level of weights you use must allow you to perform the exercise with the correct form for the duration of the workout. If you are new to exercise I would suggest you start light and take your time to progress.</p>
              <p>The ideal starter kit would be:</p>
              <ul class="mb-0">
                <li>Exercise mat</li>
                <li><%= link_to "Ball", "https://amzn.to/3GeT9vh", rel: "noopener", target: "_blank" %></li>
                <li><%= link_to "1.5kg dumbbells", "https://www.physicalcompany.co.uk/neo-hex-dumbbells-pair", rel: "noopener", target: "_blank" %></li>
                <li><%= link_to "2.5kg dumbbells", "https://www.physicalcompany.co.uk/neo-hex-dumbbells-pair", rel: "noopener", target: "_blank" %></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="headingPregnantEight">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePregnantEight" aria-expanded="false" aria-controls="collapsePregnantEight">How do I connect with other pregnancy women?</button>
          </h3>
          <div id="collapsePregnantEight" class="accordion-collapse collapse" aria-labelledby="headingPregnantEight" data-bs-parent="#pregnantAccordion">
            <div class="accordion-body">
              <p>Find your tribe!!!</p>
              <p>Community and connectivity with women on the same journey as you is key to boosting your mood and alleviating any feelings of loneliness. This is why we are so proud of the private Mother Fit community we have created, where mums at every stage of their parenting journey come together to motivate and champion each other along the way. This group of women are passionate about building each other up and is a vital part of the Mother Fit program. From sharing healthy recipes, top tips on how to get a baby to sleep, and advice on dealing with lack of sleep – the Mother Fit community is there. Surrounded by hundreds of like-minded women, you can find new friends, workout buddies and women to keep you accountable and on track.</p>
              <p class="mb-0">Access the Mother Fit private community here : <%= link_to "https://www.facebook.com/groups/840584283018084", "https://www.facebook.com/groups/840584283018084", rel: "noopener" %></p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="headingPregnantNine">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePregnantNine" aria-expanded="false" aria-controls="collapsePregnantNine">Can I cancel my membership?</button>
          </h3>
          <div id="collapsePregnantNine" class="accordion-collapse collapse" aria-labelledby="headingPregnantNine" data-bs-parent="#pregnantAccordion">
            <div class="accordion-body">
              <p>During the free trial period you can cancel at any time without a charge via your dashboard settings. Members manage their own accounts.</p>
              <p>Once your free trial period has ended you will be charged for the period you selected in full (e.g. monthly or yearly) and you may cancel at any time afterwards.</p>
              <p class="mb-0">Your membership is rolling (e.g. if you are on a monthly membership it will automatically renew each month unless you cancel via your settings)</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="headingPregnantTen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePregnantTen" aria-expanded="false" aria-controls="collapsePregnantTen">Can I get a refund because I forgot to cancel within the free trial period?</button>
          </h3>
          <div id="collapsePregnantTen" class="accordion-collapse collapse" aria-labelledby="headingPregnantTen" data-bs-parent="#pregnantAccordion">
            <div class="accordion-body">
              <p>At the time of signing up, you would have been asked to accept or decline our terms of business (also available on our website) which state that by creating an account, you are accepting an automatic renewal of your membership until a time where you cancel or request cancellation of your membership before your current billing period ends, and your new one begins. Either monthly or annually.</p>
              <p>As you have requested cancellation of your account after your free trial has ended, we are unable to offer a refund for the current month’s/year renewal.</p>
              <p class="mb-0">If you wish to cancel your membership before your next month’s renewal please do so by logging into your account and do so via your dashboard settings.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="headingPregnantEleven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePregnantEleven" aria-expanded="false" aria-controls="collapsePregnantEleven">I've forgotten my password</button>
          </h3>
          <div id="collapsePregnantEleven" class="accordion-collapse collapse" aria-labelledby="headingPregnantEleven" data-bs-parent="#pregnantAccordion">
            <div class="accordion-body">
              <p class="mb-0">Please request a new password via your dashboard settings.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="headingPregnantTwelve">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePregnantTwelve" aria-expanded="false" aria-controls="collapsePregnantTwelve">How do I contact someone?</button>
          </h3>
          <div id="collapsePregnantTwelve" class="accordion-collapse collapse" aria-labelledby="headingPregnantTwelve" data-bs-parent="#pregnantAccordion">
            <div class="accordion-body">
              <p class="mb-0">Please contact us via web chat or via <%= link_to "<u>michelle@motherfit.co.uk</u>".html_safe, "mailto:michelle@motherfit.co.uk" %></p>
            </div>
          </div>
        </div>
      </div>
    <% end%>
    <% if current_user.postpartum? %>
      <div class="accordion" id="PostpartumAccordion">
        <div class="accordion-item">
          <h3 class="accordion-header" id="headingPostpartumOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePostpartumOne" aria-expanded="false" aria-controls="collapsePostpartumOne">What is Mother Fit?</button>
          </h3>
          <div id="collapsePostpartumOne" class="accordion-collapse collapse" aria-labelledby="headingPostpartumOne" data-bs-parent="#PostpartumAccordion">
            <div class="accordion-body">
              <p class="mb-0">Welcome to Mother Fit. We're here to support you on your mental and physical journey throughout every stage of your pregnancy, postpartum and beyond. We offer a 360, holistic approach to motherhood. Looking after your mind, body and soul, we place an emphasis on all-round wellbeing, with the end result being a happier, healthier and more active you.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="headingPostpartumTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePostpartumTwo" aria-expanded="false" aria-controls="collapsePostpartumTwo">What is the Mother Fit Rebuild your Core Program?</button>
          </h3>
          <div id="collapsePostpartumTwo" class="accordion-collapse collapse" aria-labelledby="headingPostpartumTwo" data-bs-parent="#PostpartumAccordion">
            <div class="accordion-body">
              <p class="mb-0">The Mother Fit Rebuild your Core Program can be started as soon as you feel ready after childbirth, so long as there are no contradictions to exercise and you've had medical sign off. However it is recommended not to start this program until after your 4th Trimester. This 6 step program is the foundations to rebuilding your core after pregnancy and can work alongside your women's physio recovery plan from diastasis recti. Once you have completed this program and have had your 6-8 week medical check, which may be longer for c-section mums and you feel ready you can start my 9 Week Postpartum Program. Once you have finished each step, be sure to click complete so that the next classes will populate.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="headingPostpartumThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePostpartumThree" aria-expanded="false" aria-controls="collapsePostpartumThree">What is the Mother Fit 9 Week Postpartum Program?</button>
          </h3>
          <div id="collapsePostpartumThree" class="accordion-collapse collapse" aria-labelledby="headingPostpartumThree" data-bs-parent="#PostpartumAccordion">
            <div class="accordion-body">
              <p>The Mother Fit 9 Week Postnatal Program is a day by day guide looking after your mind, body and soul on your postpartum recovery. The emphasis of the program is all-round wellbeing. There are 3 stages, Recover, Restore & Progress. Each day you will have a new activity or task, from yoga, workouts, meditation, advice or just booking in some you time. Feel free to take the program at your own pace, 9 weeks may not work for everyone. If you would like to do more interactive classes visit the calendar for LIVE classes.</p>
              <p>Disclaimer : Before commencing any new fitness, health, or nutrition program, please consult with your doctor to discuss your individual needs. I'm here to provide general advice within my scope of practice, but you should seek professional help if it is needed.</p>
              <p>If you're diabetic, have an injury or medical condition, Postpartum/postpartum, or a physical disability, please consult your doctor or professional healthcare provider before starting.</p>
              <p>Always consult your healthcare professional before beginning any new exercise program, as there are some situations where exercise may not be advised.</p>
              <p class="mb-0">This information should be used as a guide only and should not replace the advice of your medical practitioner.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="headingPostpartumFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePostpartumFour" aria-expanded="false" aria-controls="collapsePostpartumFour">What is the Mother Fit Postpartum Bridge?</button>
          </h3>
          <div id="collapsePostpartumFour" class="accordion-collapse collapse" aria-labelledby="headingPostpartumFour" data-bs-parent="#PostpartumAccordion">
            <div class="accordion-body">
              <p class="mb-0">The Mother Fit Postpartum Bridge are exercise classes that are a little bit more challenging to help bridge the gap between postpartum and you changing your settings to BEYOND.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="headingPostpartumFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePostpartumFive" aria-expanded="false" aria-controls="collapsePostpartumFive">0-12 weeks after childbirth</button>
          </h3>
          <div id="collapsePostpartumFive" class="accordion-collapse collapse" aria-labelledby="headingPostpartumFive" data-bs-parent="#PostpartumAccordion">
            <div class="accordion-body">
              <p class="mb-0">The 4th Trimester is between 0-12 weeks after childbirth. Please take your time to enjoy your baby and recover. At this point please continue to learn from our Experts and you can commence my 'Rebuild your Core' program if you feel ready. Your health is the priority, so please do not start my 9 week postpartum program until at least after your 6-8 week medical check, while c-section mums are advised to wait for longer before returning to exercise. If you have been with Mother fit through your pregnancy, please tell us when your baby was born in your dashboard settings. Alternatively it will automatically transition over to a postpartum dashboard after 40 weeks of pregnancy or if you've just joined us. Use the calendar to keep a track of midwife appointments, journal your new motherhood experiences or try and short meditation.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="headingPostpartumSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePostpartumSix" aria-expanded="false" aria-controls="collapsePostpartumSix">What advice can I get?</button>
          </h3>
          <div id="collapsePostpartumSix" class="accordion-collapse collapse" aria-labelledby="headingPostpartumSix" data-bs-parent="#PostpartumAccordion">
            <div class="accordion-body">
              <p class="mb-0">There are a host of experts on hand to guide you through new mum essentials, such as breastfeeding, pelvic floor health, c-section scar therapy and children’s first aid, as well as sleep advice and how to calm your baby. You can access this advice in MIND, or just follow the 9 week postpartum program day by day.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="headingPostpartumSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePostpartumSeven" aria-expanded="false" aria-controls="collapsePostpartumSeven">What equipment do I need for workouts?</button>
          </h3>
          <div id="collapsePostpartumSeven" class="accordion-collapse collapse" aria-labelledby="headingPostpartumSeven" data-bs-parent="#PostpartumAccordion">
            <div class="accordion-body">
              <p>My workouts can be completed with little or no equipment. I advise as a basic start, you would benefit from an exercise mat and a set of dumbbells suited to your weight preference. If you are Postpartum and have always exercised with weights then you can carry on using the same level of weights, but please be mindful to not overtrain. The level of weights you use must allow you to perform the exercise with the correct form for the duration of the workout. If you are returning to exercise after having a baby and have had your midwife or GP sign off to recommence exercising, I would suggest you start light and take your time to progress.</p>
              <p>The ideal starter kit would be:</p>
              <ul class="mb-0">
                <li>Exercise mat</li>
                <li><%= link_to "Ball", "https://amzn.to/3GeT9vh", rel: "noopener", target: "_blank" %></li>
                <li><%= link_to "1.5kg dumbbells", "https://www.physicalcompany.co.uk/neo-hex-dumbbells-pair", rel: "noopener", target: "_blank" %></li>
                <li><%= link_to "2.5kg dumbbells", "https://www.physicalcompany.co.uk/neo-hex-dumbbells-pair", rel: "noopener", target: "_blank" %></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="headingPostpartumEight">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePostpartumEight" aria-expanded="false" aria-controls="collapsePostpartumEight">How do I connect with other postpartum women?</button>
          </h3>
          <div id="collapsePostpartumEight" class="accordion-collapse collapse" aria-labelledby="headingPostpartumEight" data-bs-parent="#PostpartumAccordion">
            <div class="accordion-body">
              <p>Find your tribe!!!</p>
              <p>Community and connectivity with women on the same journey as you is key to boosting your mood and alleviating any feelings of loneliness. This is why we are so proud of the private Mother Fit community we have created, where mums at every stage of their parenting journey come together to motivate and champion each other along the way. This group of women are passionate about building each other up and is a vital part of the Mother Fit program.  From sharing healthy recipes, top tips on how to get a baby to sleep, and advice on dealing with lack of sleep – the Mother Fit community is there. Surrounded by hundreds of like-minded women, you can find new friends, workout buddies and women to keep you accountable and on track.</p>
              <p class="mb-0">Access the Mother Fit private community here : <%= link_to "https://www.facebook.com/groups/840584283018084", "https://www.facebook.com/groups/840584283018084", rel: "noopener" %></p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="headingPostpartumNine">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePostpartumNine" aria-expanded="false" aria-controls="collapsePostpartumNine">What do I do once I've finished the Postpartum program?</button>
          </h3>
          <div id="collapsePostpartumNine" class="accordion-collapse collapse" aria-labelledby="headingPostpartumNine" data-bs-parent="#PostpartumAccordion">
            <div class="accordion-body">
              <p class="mb-0">Once you’ve graduated through the Postpartum programs and are feeling stronger, you’re ready to move onto my 'Postpartum Bridge'. Once you feel ready, please go to your settings and change over to a BEYOND mother and your dashboard will change. I strongly suggest you keep the workouts low impact in the first instance, starting with a mixture of upper body burn, lower body strength, fat burner and perhaps boxing. These classes are the perfect stepping stone to progressing onto a challenge or the longer on-demand and live workouts. Please listen to your body and take it at your pace. I do not recommend you take part in Arms & Abs at this point in your recovery.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="headingPostpartumTen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePostpartumTen" aria-expanded="false" aria-controls="collapsePostpartumTen">Can I cancel my membership?</button>
          </h3>
          <div id="collapsePostpartumTen" class="accordion-collapse collapse" aria-labelledby="headingPostpartumTen" data-bs-parent="#PostpartumAccordion">
            <div class="accordion-body">
              <p>During the free trial period you can cancel at any time without a charge via your dashboard settings. Members manage their own accounts.</p>
              <p>Once your free trial period has ended you will be charged for the period you selected in full (e.g. monthly or yearly) and you may cancel at any time afterwards.</p>
              <p class="mb-0">Your membership is rolling (e.g. if you are on a monthly membership it will automatically renew each month unless you cancel via your settings.)</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="headingPostpartumEleven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePostpartumEleven" aria-expanded="false" aria-controls="collapsePostpartumEleven">Can I get a refund because I forgot to cancel within the free trial period?</button>
          </h3>
          <div id="collapsePostpartumEleven" class="accordion-collapse collapse" aria-labelledby="headingPostpartumEleven" data-bs-parent="#PostpartumAccordion">
            <div class="accordion-body">
              <p>At the time of signing up, you would have been asked to accept or decline our terms of business (also available on our website) which state that by creating an account, you are accepting an automatic renewal of your membership until a time where you cancel or request cancellation of your membership before your current billing period ends, and your new one begins. Either monthly or annually.</p>
              <p>As you have requested cancellation of your account after your free trial has ended, we are unable to offer a refund for the current month’s/year renewal.</p>
              <p class="mb-0">If you wish to cancel your membership before your next month’s renewal please do so by logging into your account and do so via your dashboard settings.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="headingPostpartumTwelve">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePostpartumTwelve" aria-expanded="false" aria-controls="collapsePostpartumTwelve">Please request a new password via your dashboard settings.</button>
          </h3>
          <div id="collapsePostpartumTwelve" class="accordion-collapse collapse" aria-labelledby="headingPostpartumTwelve" data-bs-parent="#PostpartumAccordion">
            <div class="accordion-body">
              <p class="mb-0">Please contact us via web chat or via <%= link_to "<u>michelle@motherfit.co.uk</u>".html_safe, "mailto:michelle@motherfit.co.uk" %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% if current_user.beyond? %>
      <div class="accordion" id="BeyondAccordion">
        <div class="accordion-item">
          <h3 class="accordion-header" id="headingBeyondOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBeyondOne" aria-expanded="false" aria-controls="collapseBeyondOne">What is Mother Fit?</button>
          </h3>
          <div id="collapseBeyondOne" class="accordion-collapse collapse" aria-labelledby="headingBeyondOne" data-bs-parent="#BeyondAccordion">
            <div class="accordion-body">
              <p class="mb-0">Welcome to Mother Fit. We're here to support you on your mental and physical journey throughout every stage of your pregnancy, postpartum and beyond. We offer a 360, holistic approach to motherhood. Looking after your mind, body and soul, we place an emphasis on all-round wellbeing, with the end result being a happier, healthier and more active you.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="headingBeyondTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBeyondTwo" aria-expanded="false" aria-controls="collapseBeyondTwo">What is the Mother Fit Rebuild your Core Program?</button>
          </h3>
          <div id="collapseBeyondTwo" class="accordion-collapse collapse" aria-labelledby="headingBeyondTwo" data-bs-parent="#BeyondAccordion">
            <div class="accordion-body">
              <p class="mb-0">The Mother Fit Rebuild your Core Program is recommended for any mother, no matter where you are in your motherhood journey.  You can start as soon as you feel ready after childbirth or years after having children. Every women can benefit from this program. This 6 step program is the foundations to rebuilding your core after pregnancy and can work alongside your women's physio recovery plan from diastasis recti if you have one.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="headingBeyondThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBeyondThree" aria-expanded="false" aria-controls="collapseBeyondThree">What is Mother Fit Beyond</button>
          </h3>
          <div id="collapseBeyondThree" class="accordion-collapse collapse" aria-labelledby="headingBeyondThree" data-bs-parent="#BeyondAccordion">
            <div class="accordion-body">
              <p>The team at Mother Fit knows the importance of carving out some much-needed ‘you’ time as a parent, which is why we have created our & Beyond program. Designed for women who are past the stages of pregnancy and postpartum, the program is an overall journey for an active and healthy lifestyle. Created for those wanting to develop their mind, body and soul. The Beyond program offers up to 6 live daily workouts or catch up on-demand at a time that suits you, challenges, and goal setting, yoga, meditation, breathwork and expert advisors. With a personalised dashboard bespoke to you, you’ll be able to access nutritional information, use a weight loss tracker, personalised calorie and information on what you’ve burnt, as well a photo and measurement tracker, daily step count and a sleep tracker.</p>
              <p>Disclaimer : Before commencing any new fitness, health, or nutrition program, please consult with your doctor to discuss your individual needs. I'm here to provide general advice within my scope of practice, but you should seek professional help if it is needed.</p>
              <p>If you're diabetic, have an injury or medical condition, Beyond/postpartum, or a physical disability, please consult your doctor or professional healthcare provider before starting.</p>
              <p>Always consult your healthcare professional before beginning any new exercise program, as there are some situations where exercise may not be advised.</p>
              <p class="mb-0">This information should be used as a guide only and should not replace the advice of your medical practitioner.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="headingBeyondFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBeyondFour" aria-expanded="false" aria-controls="collapseBeyondFour">What are Challenges?</button>
          </h3>
          <div id="collapseBeyondFour" class="accordion-collapse collapse" aria-labelledby="headingBeyondFour" data-bs-parent="#BeyondAccordion">
            <div class="accordion-body">
              <p class="mb-0">Challenges run at ad hoc times of the year. However, you can always access previous challenges at a time that suits you from your dashboard.  Just follow the day by day plan within the challenge and you won't regret it. All of the challenges take a holistic approach to your wellbeing, not only including exercise, they provide advice from experts in many different fields of expertise.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="headingBeyondFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBeyondFive" aria-expanded="false" aria-controls="collapseBeyondFive">What advice can I get on Nutrition?</button>
          </h3>
          <div id="collapseBeyondFive" class="accordion-collapse collapse" aria-labelledby="headingBeyondFive" data-bs-parent="#BeyondAccordion">
            <div class="accordion-body">
              <p class="mb-0">I am a nutritional advisor for weight management and I use my years of working as a pre and postnatal trainer to advise on your pregnancy, postpartum and beyond nutritional needs. I don't believe in fad diets, Weight Watchers, Slimming World, I believe in educating women on food, taking it back to basics and getting whole foods with the right about for your energy demands. Oh and I love macros! So much so that I wrote a book in 2019 called 'What Would Mother Fit Eat?'. You can find an online version within the nutrition area on your dashboard. Start by reading my book and then progress onto one of the Ebook's and or a challenge.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="headingBeyondSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBeyondSix" aria-expanded="false" aria-controls="collapseBeyondSix">What equipment do I need for workouts?</button>
          </h3>
          <div id="collapseBeyondSix" class="accordion-collapse collapse" aria-labelledby="headingBeyondSix" data-bs-parent="#BeyondAccordion">
            <div class="accordion-body">
              <p>My workouts can be completed with little or no equipment. I advise as a basic start, you would benefit from an exercise mat and a set of dumbbells suited to your weight preference. If you are Beyond and have always exercised with weights then you can carry on using the same level of weights, but please be mindful to not overtrain. The level of weights you use must allow you to perform the exercise with the correct form for the duration of the workout. If you are returning to exercise after having a baby and have had your midwife or GP sign off to recommence exercising, I would suggest you start light and take your time to progress.</p>
              <p>The ideal starter kit would be:</p>
              <ul class="mb-0">
                <li>Exercise mat</li>
                <li><%= link_to "Ball", "https://amzn.to/3GeT9vh", rel: "noopener", target: "_blank" %></li>
                <li><%= link_to "1.5kg dumbbells", "https://www.physicalcompany.co.uk/neo-hex-dumbbells-pair", rel: "noopener", target: "_blank" %></li>
                <li><%= link_to "2.5kg dumbbells", "https://www.physicalcompany.co.uk/neo-hex-dumbbells-pair", rel: "noopener", target: "_blank" %></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="headingBeyondSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBeyondSeven" aria-expanded="false" aria-controls="collapseBeyondSeven">How do I connect with other beyond women?</button>
          </h3>
          <div id="collapseBeyondSeven" class="accordion-collapse collapse" aria-labelledby="headingBeyondSeven" data-bs-parent="#BeyondAccordion">
            <div class="accordion-body">
              <p>Find your tribe!!!</p>
              <p>Community and connectivity with women on the same journey as you is key to boosting your mood and alleviating any feelings of loneliness. This is why we are so proud of the private Mother Fit community we have created, where mums at every stage of their parenting journey come together to motivate and champion each other along the way. This group of women are passionate about building each other up and is a vital part of the Mother Fit program.  From sharing healthy recipes, top tips on how to get a baby to sleep, and advice on dealing with lack of sleep – the Mother Fit community is there. Surrounded by hundreds of like-minded women, you can find new friends, workout buddies and women to keep you accountable and on track.</p>
              <p class="mb-0">Access the Mother Fit private community here : <%= link_to "https://www.facebook.com/groups/840584283018084", "https://www.facebook.com/groups/840584283018084", rel: "noopener" %></p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="headingBeyondEight">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBeyondEight" aria-expanded="false" aria-controls="collapseBeyondEight">Can I cancel my membership?</button>
          </h3>
          <div id="collapseBeyondEight" class="accordion-collapse collapse" aria-labelledby="headingBeyondEight" data-bs-parent="#BeyondAccordion">
            <div class="accordion-body">
              <p>During the free trial period you can cancel at any time without a charge via your dashboard settings. Members manage their own accounts.</p>
              <p>Once your free trial period has ended you will be charged for the period you selected in full (e.g. monthly or yearly) and you may cancel at any time afterwards.</p>
              <p class="mb-0">Your membership is rolling (e.g. if you are on a monthly membership it will automatically renew each month unless you cancel via your settings)</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="headingBeyondNine">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBeyondNine" aria-expanded="false" aria-controls="collapseBeyondNine">Can I get a refund because I forgot to cancel within the free trial period?</button>
          </h3>
          <div id="collapseBeyondNine" class="accordion-collapse collapse" aria-labelledby="headingBeyondNine" data-bs-parent="#BeyondAccordion">
            <div class="accordion-body">
              <p>At the time of signing up, you would have been asked to accept or decline our terms of business (also available on our website) which state that by creating an account, you are accepting an automatic renewal of your membership until a time where you cancel or request cancellation of your membership before your current billing period ends, and your new one begins. Either monthly or annually.</p>
              <p>As you have requested cancellation of your account after your free trial has ended, we are unable to offer a refund for the current month’s/year renewal.</p>
              <p class="mb-0">If you wish to cancel your membership before your next month’s renewal please do so by logging into your account and do so via your dashboard settings.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="headingBeyondTen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBeyondTen" aria-expanded="false" aria-controls="collapseBeyondTen">I've forgotten my password</button>
          </h3>
          <div id="collapseBeyondTen" class="accordion-collapse collapse" aria-labelledby="headingBeyondTen" data-bs-parent="#BeyondAccordion">
            <div class="accordion-body">
              <p class="mb-0">Please request a new password via your dashboard settings.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="headingBeyondEleven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBeyondEleven" aria-expanded="false" aria-controls="collapseBeyondEleven">How do I contact someone?</button>
          </h3>
          <div id="collapseBeyondEleven" class="accordion-collapse collapse" aria-labelledby="headingBeyondEleven" data-bs-parent="#BeyondAccordion">
            <div class="accordion-body">
              <p class="mb-0">Please contact us via web chat or via <%= link_to "<u>michelle@motherfit.co.uk</u>".html_safe, "mailto:michelle@motherfit.co.uk" %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-xxl-8">
    <section class="bg-white shadow rounded-2 p-4 mb-4">
      <div class="d-flex mb-3 mb-md-4">
        <h2 class="h5 mb-0">Get in touch</h2>
        <%= image_tag "intercom-logo.svg", height: 24, class: "ms-auto d-md-none" %>
        <%= image_tag "intercom-logo.svg", height: 28, class: "ms-auto d-none d-md-block" %>
      </div>
      <%= image_tag "support/community.jpg", class: "img-fluid rounded-2 mb-4 ms-auto" %>
      <p class="small mb-2">The <%= Rails.configuration.name %> <%= link_to "<u>community</u>".html_safe, dashboard_community_path %> is the best place for everyone to share ideas, problems, success stories, journies and more.</p>
      <p class="small mb-4">Alternatively, if you need to chat with a member of the <%= Rails.configuration.name %> team, please click the button below.</p>
      <%= button_tag "#{image_tag "intercom-icon.png", height: 20, class: "me-2"}Chat with us".html_safe, type: "button", class: "btn btn-primary w-100 js-intercom-chat-launcher" %>
    </section>
    <section class="bg-white shadow rounded-2 p-4">
      <h2 class="h5 mb-3 mb-md-4">Contact Michelle</h2>
      <%= image_tag "support/michelle.jpg", class: "img-fluid rounded-2 mb-4" %>
      <p class="small mb-0">If you want to get in touch via email, you can also contact Michelle directly at <%= link_to "<u>michelle@motherfit.co.uk</u>".html_safe, "mailto:michelle@motherfit.co.uk" %>.</p>
    </section>
  </div>
</div>
