<%= form.error_notification %>
<%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>

<div class="row gy-3 mb-4">
  <div class="col-24">
    <%= form.input :title %>
  </div>
  <div class="col-24">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>
  <div class="col-md-12">
    <%= form.label :date, label: "Date", class: "form-label" %>
    <div class="input-group">
      <span class="input-group-text"><%= icon "fas", "calendar-alt" %></span>
      <%= form.input :date, label: false, wrapper: false, input_html: {value: @date, autocomplete: "off", placeholder: "DD/MM/YYYY", data: {"max-date": DateTime.now.to_s, "start-view": "days"}, class: "js-datepicker js-date-field"} %>
    </div>
  </div>
  <div class="col-md-12">
    <%= form.label :time, label: "Time", class: "form-label" %>
    <div class="input-group">
      <span class="input-group-text"><%= icon "fas", "clock" %></span>
      <%= form.input :time, label: false, wrapper: false, input_html: {value: @time, autocomplete: "off", placeholder: "HH:MM", class: "js-time-field"} %>
    </div>
  </div>
  <div class="col-24">
    <%= form.input :featured_image, as: :file %>
  </div>
</div>
<div class="form-actions text-end">
  <%= form.button :submit, class: "btn-primary" %>
</div>
