<%
  meta title: "Case Study - Defence",
  description: ""
%>

<section class="container-xl text-center py-5 py-md-6 py-xl-7">
  <div class="row justify-content-center gy-0">
    <div class="col-xl-18 col-xxl-17">
      <h2>About Defense.com™</h2>
      <p class="lead mb-0">Defense.com™ is a leading global cybersecurity company, having provided cyber protection services to many Fortune 500 companies such as Dell, Google and Berkshire Hathaway.</p>
    </div>
  </div>
</section>
<hr>
<section class="image-wrapper-end container-xl py-6 py-md-7 py-xl-8">
  <div class="row align-items-center gy-5 gy-md-6 gy-lg-0">
    <div class="col-lg-11 col-xl-11 col-xxl-12">
      <h3>The Problem</h3>
      <p class="lead">Defense.com™ recognised more could be done to support their female employees who either became pregnant, or had recently given birth. They also wanted to provide added assistance to support both the physical and mental wellbeing of their staff in general, regardless of them experiencing motherhood or not. In regards to pregnancy specifically, they acknowledge how challenging of a period it can be for their staff and wanted to make the transition from work life to maternity leave as easy as possible.</p>
      <p class="lead mb-0">82% of women fall pregnant with their first child during employment, the majority of which will continue to go to work until within one month of their due date. Expectant mothers typically receive little support from their employer during this period and Defense.com™ wanted to address this for their workforce with the addition of wellness platform to complement their existing company benefits.</p>
    </div>
    <div class="col offset-lg-1 col-lg-12 col-xl-12 col-xxl-11">
      <%= image_tag "case_studies/defence/the-problem.jpg", alt: "#{Rails.configuration.name} says hello", title: "#{Rails.configuration.name} says hello", class: "image-wrapper-end-image img-fluid d-lg-none" %>
      <%= image_tag "case_studies/defence/the-problem-lg.jpg", alt: "#{Rails.configuration.name} says hello", title: "#{Rails.configuration.name} says hello", class: "image-wrapper-end-image img-fluid d-none d-lg-block d-xl-none" %>
      <%= image_tag "case_studies/defence/the-problem-xl.jpg", alt: "#{Rails.configuration.name} says hello", title: "#{Rails.configuration.name} says hello", class: "image-wrapper-end-image img-fluid d-none d-xl-block" %>
    </div>
  </div>
</section>
<section class="image-wrapper-start container-xl py-6 py-md-7 py-xl-8">
  <div class="row align-items-center gy-5 gy-md-6 gy-lg-0">
    <div class="offset-lg-1 col-lg-11 col-xl-11 col-xxl-12">
      <h3>How Mother Fit was able to help</h3>
      <p class="lead">Defense.com™ evaluated many of the pregnancy & postpartum wellness providers but repeatedly came across barriers. They wanted to work with a company that provided individual support to each staff member, not just a "one package fits all" product.</p>
      <p class="lead">HR Manager Venisha Jeshani said “One of the hardest challenges was speaking to someone that understood the unique requirements our staff needed. We wanted a partner who could not only provide a great platform, but also offered a real sense of community for our staff.”</p>
      <p class="lead">At the time when Defense.com™ was looking for a benefits partner, Mother Fit had just launched its new personalised dashboard - designed to provide their staff with a clear focus on priorities, goals, clarity and confidence for their mindset through the means of both exercise and mental empowerment.</p>
      <p class="lead">Venisha added “The most important thing for us, was to ensure our staff were getting access to genuine expertise from a fully qualified professional and not from an ex reality tv star now turned personal trainer."</p>
      <p class="lead mb-0">To ensure Defense.com™ were confident in choosing Mother Fit as its wellness partner we allowed a selection of the Defense.com™ staff to use the service free of charge to allow them to gain a full understanding of how it supports their team. This was a great success and Defense.com™ quickly put pen to paper on signing up all their employees to the platform. This even included them offering Mother Fit to all of their male employees too, who were able to pass on the benefit to their partners.</p>
    </div>
    <div class="col order-lg-first col-lg-12 col-xl-12 col-xxl-11">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-1 gy-3 gx-md-4 gy-lg-4">
        <div class="col">
          <%= image_tag "case_studies/defence/able-to-help-a.jpg", alt: "#{Rails.configuration.name} says hello", title: "#{Rails.configuration.name} says hello", class: "image-wrapper-start-image img-fluid d-lg-none" %>
          <%= image_tag "case_studies/defence/able-to-help-a-lg.jpg", alt: "#{Rails.configuration.name} says hello", title: "#{Rails.configuration.name} says hello", class: "image-wrapper-start-image img-fluid d-none d-lg-block d-xl-none" %>
          <%= image_tag "case_studies/defence/able-to-help-a-xl.jpg", alt: "#{Rails.configuration.name} says hello", title: "#{Rails.configuration.name} says hello", class: "image-wrapper-start-image img-fluid d-none d-xl-block" %>
        </div>
        <div class="col">
          <%= image_tag "case_studies/defence/able-to-help-b.jpg", alt: "#{Rails.configuration.name} says hello", title: "#{Rails.configuration.name} says hello", class: "image-wrapper-start-image img-fluid d-lg-none" %>
          <%= image_tag "case_studies/defence/able-to-help-b-lg.jpg", alt: "#{Rails.configuration.name} says hello", title: "#{Rails.configuration.name} says hello", class: "image-wrapper-start-image img-fluid d-none d-lg-block d-xl-none" %>
          <%= image_tag "case_studies/defence/able-to-help-b-xl.jpg", alt: "#{Rails.configuration.name} says hello", title: "#{Rails.configuration.name} says hello", class: "image-wrapper-start-image img-fluid d-none d-xl-block" %>
        </div>
      </div>
    </div>
  </div>
</section>
<hr>
<section class="container-xl py-6 py-md-7 py-xl-8">
  <h3 class="text-center mb-5 mb-md-6 mb-xl-7">Features Defense.com™ employees loved</h3>
  <div class="row row-cols-1 row-cols-lg-2 gy-4 gy-md-5 gx-lg-6">
    <div class="col d-md-flex d-lg-block d-xl-flex">
      <div class="tile tile-primary tile-xl mb-3 mt-md-1 mt-lg-0 mt-xl-1">
        <%= image_tag "case_studies/defence/icons/physical-and-mental-support.png"%>
      </div>
      <div class="ms-md-4 ms-lg-0 ms-xl-4">
        <h5 class="text-primary mb-2">Physical & Mental Support</h5>
        <p class="mb-0">Mother Fit were able to increase both employee morale and retention by providing their workforce with personalised online home workouts to enhance their physical and mental well being.</p>
      </div>
    </div>
    <div class="col d-md-flex d-lg-block d-xl-flex">
      <div class="tile tile-primary tile-xl mb-3 mt-md-1 mt-lg-0 mt-xl-1">
        <%= image_tag "case_studies/defence/icons/antenatal-care.png"%>
      </div>
      <div class="ms-md-4 ms-lg-0 ms-xl-4">
        <h5 class="text-primary mb-2">Antenatal Care</h5>
        <p class="mb-0">Mother Fit founder, Michelle Baynham, is both a qualified personal trainer and pregnancy & postpartum corrective exercise specialist. With Michelle’s guidance staff were able to stay active throughout their pregnancy with the assurance of keeping both themselves and their baby safe.</p>
      </div>
    </div>
    <div class="col d-md-flex d-lg-block d-xl-flex">
      <div class="tile tile-primary tile-xl mb-3 mt-md-1 mt-lg-0 mt-xl-1">
        <%= image_tag "case_studies/defence/icons/hypnobirthing.png"%>
      </div>
      <div class="ms-md-4 ms-lg-0 ms-xl-4">
        <h5 class="text-primary mb-2">Hypnobirthing</h5>
        <p class="mb-0">Mother Fit provides a dedicated online hypnobirthing program which helped their staff deal with any fear or anxiety they had around birth. The course involves various relaxation and self-hypnosis techniques to help women relax the body before, during and after labour.</p>
      </div>
    </div>
    <div class="col d-md-flex d-lg-block d-xl-flex">
      <div class="tile tile-primary tile-xl mb-3 mt-md-1 mt-lg-0 mt-xl-1">
        <%= image_tag "case_studies/defence/icons/postpartum-transition.png"%>
      </div>
      <div class="ms-md-4 ms-lg-0 ms-xl-4">
        <h5 class="text-primary mb-2">Pregnancy to Postpartum Transition</h5>
        <p class="mb-0">Mother Fit was able to provide an online home 12-week program immediately after a member of staff had given birth. This 12-week period, also known as The Fourth Trimester, is a time of great physical and emotional change.</p>
      </div>
    </div>
    <div class="col d-md-flex d-lg-block d-xl-flex">
      <div class="tile tile-primary tile-xl mb-3 mt-md-1 mt-lg-0 mt-xl-1">
        <%= image_tag "case_studies/defence/icons/community.png"%>
      </div>
      <div class="ms-md-4 ms-lg-0 ms-xl-4">
        <h5 class="text-primary mb-2">Community</h5>
        <p class="mb-0">With the Mother Fit community which groups both mums-to-be and postpartum women with like-minded individuals, our staff were able to create friendships and receive additional support from experts which included Midwives, Lactation Consultants, C-Section Scar Therapists, Yoga Instructors and more.</p>
      </div>
    </div>
    <div class="col d-md-flex d-lg-block d-xl-flex">
      <div class="tile tile-primary tile-xl mb-3 mt-md-1 mt-lg-0 mt-xl-1">
        <%= image_tag "case_studies/defence/icons/resources.png"%>
      </div>
      <div class="ms-md-4 ms-lg-0 ms-xl-4">
        <h5 class="text-primary mb-2">Resources</h5>
        <p class="mb-0">Mother Fit provided a variety of resources for staff to answer all the questions new mums have. Resources include: Food to eat and avoid during pregnancy, Vaccinations, How to register your new baby, How to tell your employer you’re pregnant and much more.</p>
      </div>
    </div>
  </div>
</section>
<hr>
<section class="container-xl py-6 py-md-7 py-xl-8">
  <div class="row justify-content-md-center align-items-center gy-0">
    <div class="col-xl-18 col-xxl-17">
      <h3>Helping all members of staff, male or female</h3>
      <p class="lead mb-0">With Defense.com being an inclusive company, Mother Fit were also able to provide our service to their male employees, who could pass the benefits onto their partners. Even if not pregnant or postpartum, they were still able to enjoy a better all round quality of life by becoming healthier and happier using the various exercise programmes and well being advice provided.</p>
    </div>
  </div>
</section>
<section class="bg-primary-light py-6 py-md-7 py-xl-8">
  <div class="container-xl">
    <div class="row align-items-center gy-5 gy-md-6 gy-lg-0">
      <div class="col-lg-11 col-xl-11 col-xxl-12">
        <%= icon "fas", "quote-left", class: "h3 text-primary mb-4 mb-md-5" %>
        <p>Mother Fit is an excellent exercise programme for postpartum recovery. Only after my second baby have I learnt the importance of building up pelvic floor and core strength in order to successfully return to pre-pregnancy fitness and I wanted a workout programme that would focus on these elements.</p>
        <p>I'm currently working my way through the postpartum recovery workouts which are all low impact at the moment (I still get my sweat on and they're enjoyable for a HIIT junkie like me!) and are gradually building on the intensity of each workout. The mobility and yoga flow sessions built into the programme are very well received too.</p>
        <p>Mother Fit is exactly what I was looking for and Michelle is clearly passionate about guiding you through your recovery in a clear and concise way. I can’t recommend enough!</p>
        <p>Thank you Michelle!</p>
        <div class="lead fw-bolder">Sam Mansour</div>
        <div class="text-primary">HR Director - Defense.com™</div>
      </div>
      <div class="col offset-lg-1 col-lg-12 col-xl-12 col-xxl-11 overflow-visible position-relative">
        <div class="image-arrow position-absolute">
          <%= image_tag "arrow-flipped.png", height: 64, class: "me-2 mt-4 d-none d-md-inline d-lg-none" %>
          <div class="publications-heading h3 text-primary text-center text-md-start d-md-inline-block">That's Sam!</div>
          <%= image_tag "arrow-flipped.png", height: 56, class: "mt-0 d-md-none" %>
          <%= image_tag "arrow.png", height: 68, class: "ms-2 d-none d-lg-inline d-xl-none" %>
          <%= image_tag "arrow.png", height: 72, class: "ms-2 d-none d-xl-inline" %>
        </div>
        <%= image_tag "case_studies/defence/sam-mansour.jpg", alt: "#{Rails.configuration.name} says hello", title: "#{Rails.configuration.name} says hello", class: "image-wrapper-end-image img-fluid d-lg-none" %>
        <%= image_tag "case_studies/defence/sam-mansour-lg.jpg", alt: "#{Rails.configuration.name} says hello", title: "#{Rails.configuration.name} says hello", class: "image-wrapper-end-image img-fluid d-none d-lg-block d-xl-none" %>
        <%= image_tag "case_studies/defence/sam-mansour-xl.jpg", alt: "#{Rails.configuration.name} says hello", title: "#{Rails.configuration.name} says hello", class: "image-wrapper-end-image img-fluid d-none d-xl-block" %>
      </div>
    </div>
  </div>
</section>
<section class="container-xl py-6 py-md-7 py-xl-8">
  <div class="row justify-content-md-center align-items-center gy-0">
    <div class="col-xl-18 col-xxl-17">
      <h3>Conclusion</h3>
      <p class="lead">Mother Fit made an instant positive impact for the Defense.com™ workforce by offering guidance on pregnancy-safe weekly workout plans, to fitness challenges, pilates classes, yoga and so much more.</p>
      <p class="lead mb-0">Not only has Mother Fit provided essential care for their female employees during pregnancy, it’s also provided an inclusive platform for all employees to support their physical and mental well being.</p>
    </div>
  </div>
</section>
