<h4 class="publications-heading h3 text-<%= heading_color %> text-center text-md-start d-md-inline-block mb-3 mb-md-4 mb-xl-5">As seen in…</h4>
<ul class="list-unstyled row row-cols-auto justify-content-center align-items-center gx-4 gy-4 gx-md-5 gy-md-4 gx-lg-4 gy-lg-0 gx-xl-6 pt-1 pt-md-0 mb-0">
  <li class="col">
    <%= image_tag "accreditors/baby-magazine-logo.png", height: 38, class: "px-1 d-md-none" %>
    <%= image_tag "accreditors/baby-magazine-logo.png", height: 40, class: "d-none d-md-block d-lg-none" %>
    <%= image_tag "accreditors/baby-magazine-logo.png", height: 38, class: "px-1 d-none d-lg-block d-xl-none" %>
    <%= image_tag "accreditors/baby-magazine-logo.png", height: 48, class: "d-none d-xl-block" %>
  </li>
  <li class="col">
    <%= image_tag "accreditors/mother-and-baby-logo.png", height: 28, class: "px-1 d-md-none" %>
    <%= image_tag "accreditors/mother-and-baby-logo.png", height: 30, class: "d-none d-md-block d-lg-none" %>
    <%= image_tag "accreditors/mother-and-baby-logo.png", height: 28, class: "px-1 d-none d-lg-block d-xl-none" %>
    <%= image_tag "accreditors/mother-and-baby-logo.png", height: 38, class: "d-none d-xl-block" %>
  </li>
  <li class="col">
    <%= image_tag "accreditors/ultimate-baby-book-logo.png", height: 40, class: "px-1 d-md-none" %>
    <%= image_tag "accreditors/ultimate-baby-book-logo.png", height: 42, class: "d-none d-md-block d-lg-none" %>
    <%= image_tag "accreditors/ultimate-baby-book-logo.png", height: 38, class: "px-1 d-none d-lg-block d-xl-none" %>
    <%= image_tag "accreditors/ultimate-baby-book-logo.png", height: 50, class: "d-none d-xl-block" %>
  </li>
  <li class="col order-md-last">
    <%= image_tag "accreditors/parenting-daily-logo.png", height: 50, class: "px-1 d-md-none" %>
    <%= image_tag "accreditors/parenting-daily-logo.png", height: 52, class: "d-none d-md-block d-lg-none" %>
    <%= image_tag "accreditors/parenting-daily-logo.png", height: 50, class: "px-1 d-none d-lg-block d-xl-none" %>
    <%= image_tag "accreditors/parenting-daily-logo.png", height: 60, class: "d-none d-xl-block" %>
  </li>
  <li class="col">
    <%= image_tag "accreditors/womens-fitness-logo.png", height: 28, class: "px-1 d-md-none" %>
    <%= image_tag "accreditors/womens-fitness-logo.png", height: 30, class: "d-none d-md-block d-lg-none" %>
    <%= image_tag "accreditors/womens-fitness-logo.png", height: 28, class: "px-1 d-none d-lg-block d-xl-none" %>
    <%= image_tag "accreditors/womens-fitness-logo.png", height: 35, class: "d-none d-xl-block" %>
  </li>
</ul>
