<% @noindex ||= true %>

<!doctype html>
<html lang="en">
  <head>
    <%= render "layouts/head" %>
    <style>
      /* Media Query for Mobile Devices */
      @media (max-width: 480px) {
        .dashboard-page-tile{
          display: none !important;
        }
        .mobile_book_call {
          display: block !important;
        }
      }
    </style>
  </head>
  <body class="dashboard">
    <div class="bg-gradient-secondary d-flex flex-column w-100">
      <%= render "layouts/dashboard/sidebar" %>
      <div class="dashboard-header">
        <div class="container-fluid d-flex align-items-center justify-content-lg-between">
          <h1 class="h4 mb-0 d-none d-lg-block"><%= @page_title %></h1>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas">
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
          </button>
          <%= link_to dashboard_root_path, class: "dashboard-logo text-center mx-auto d-lg-none" do %>
            <%= image_tag "logo-dark.png" %>
          <% end %>
          <%= link_to edit_user_registration_path, class: "text-reset" do %>
            <div class="card card-current-user rounded-2 p-0">
              <div class="card-body d-flex align-items-center p-0 p-lg-2 pe-lg-4">
                <% motherhood_stage = current_user.motherhood_stage %>
                <div class="avatar me-lg-3">
                  <%= display_avatar(current_user) %>
                  <span class="avatar-badge">
                    <%= get_motherhood_stage_icon(motherhood_stage) %>
                  </span>
                </div>
                <div class="d-none d-lg-block">
                  <h3 class="small mb-0"><%= current_user.name %></h3>
                  <div class="x-small lh-1 mt-1"><%= motherhood_stage.titleize %> Mother</div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <main class="dashboard-content flex-grow-1 p-2">
        <div class="container-fluid">
          <h1 class="h4 mb-4 d-lg-none dashboard-page-tile"><%= @page_title %></h1>
          <!-- Book a call btn only display only for mobile devices  -->
          <div class="d-none mobile_book_call">
            <div class="d-flex bd-highlight mb-3">
              <div class="h4 mb-3 d-lg-none mt-1 pb-0"><%= @page_title %></div>
              <div class="ms-auto p-0">
                <a class="btn btn-sm btn-success p-1 text-white"
                   data-disable-with="Book a call"
                   href="https://calendly.com/michelle-founder-motherfit" target="_blank">
                  Book a call
                </a>
              </div>
            </div>
          </div>
        </div>
          <%= yield %>
      </main>
      <footer>
        <%= render "layouts/dashboard/footer" %>
      </footer>
      <%= render partial: "intercom" %>
    </div>
  </body>
</html>
